@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}
body {font-family: 'Noto Sans KR', sans-serif;}


/* 헤더 */
#header1 {width: 100%; height: 35px;}
#header2 {width: 100%; height: 75px;}
.header_wrap {width: 60%; height: 100%; min-width: 960px; margin: auto; display: flex; align-items: center;}
#header_wrap1 {justify-content: flex-end; }
#header_wrap2 {justify-content: space-between;}
#header1 ul {display: flex; font-size: 13px;}
#header1 ul a {margin-left: 10px; color:black;}
#header1 ul a:hover {color: rgb(94, 43, 184);}
#header2-1 {width: 600px; min-width: 600px; height: 100%; display: flex; align-items: center; justify-content: space-between; position: relative;}
#header2-1 img {width: 150px; height: 36px; cursor: pointer;}
#header2-1 input {height :44px; border-radius: 22px; border: 2px solid black; box-sizing: border-box; width: 420px; padding-left: 15px; font-size: 15px;}
#header2-1 input::placeholder {color: darkgray;}
#header2-1 i {position: absolute; right:20px; font-size: 20px;}
#header2-2 {width: 170px; height: 100%; display: flex;}
#header2-2 i {font-size: 25px; margin-bottom: 3px;}
#header2-2>ul {display: flex; text-align: center;}
#header2-2>ul>li {display: flex; align-items: center; justify-content: center; width: 60px;}
#header2-2>ul a {color:black; font-size: 10px;}
#header2-2>ul a:hover {color: rgb(94, 43, 184);}

/* hover */
.main_menu {display: flex; justify-content: center;}
#hover {position: relative;;}
.sub_menu {width: 200px; height: fit-content; background: #fff; position: absolute; left: 50%; top: 60px; transform: translateX(-50%);  border: black solid 1px; box-sizing: border-box; background-color: #eee; padding-top: 13px; font-size: 13px; line-height: 20px; display: none; z-index: 999;}
#header2-2 .sub_menu li:first-child {width: 100%; height: 60px; background-color: #eee; box-sizing: border-box; padding: 0 20px;}
#header2-2 .sub_menu li:last-child {width: 100%; height: 125px; background-color: white; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.sub_menu span {color:rgb(94, 43, 184);}
.sub_menu button {width: 80%; height: 40px; background-color: #fff; border-radius: 5px; border: 1px solid rgb(94, 43, 184); cursor: pointer; color:rgb(94, 43, 184); }
.sub_menu button:first-child {margin-bottom: 10px; color:#555; border: 1px solid #aaa;}
.sub_menu button:first-child:hover {border:1px black solid; color:black;}
/* nav */
.center_wrap {width: 1200px; box-sizing: border-box; margin: auto;}
#nav {height: 55px; width: 100%; background-color: #fff; z-index: 500; border-bottom: #000 solid 1px; border-top: #ddd solid 1px; box-sizing: border-box; display: flex; align-items: center;}
#lnb_pc {display: block; width: 100%; height: 40px;}
#lnb_pc .main_menu {display: flex; justify-content: flex-end; height: 100%;}
#lnb_pc .main_menu>li {margin-left: 40px; position: relative; display: flex; align-items: center;}
#lnb_pc .main_menu>li>a {font-size: 19px; font-weight: 300; color:black;}
#lnb_pc .main_menu>li:first-child>a,
#lnb_pc .main_menu>li:nth-child(2)>a,
#lnb_pc .main_menu>li:nth-child(3)>a,
#lnb_pc .main_menu>li:nth-child(4)>a {color:rgb(94, 43, 184); font-weight: bold;}
#lnb_pc .sub_menu {background: #fff; position: absolute; left: 50%; top: 40px;
    padding:30px; transform: translateX(-50%); box-shadow: 0 0 10px rgba(0,0,0,.15);
    display: none;
}
#lnb_pc .sub_menu>li {margin-bottom: 10px;}
#lnb_pc .sub_menu>li>a {color:black; font-size: 16px;}
#lnb_pc .sub_menu a:hover {text-decoration: underline;}






/* 내용 */
#main {width: 100%; height: 530px;}
#main .wrap {padding-top: 60px; box-sizing: border-box;}
.detailPage_img {width: 55%; height: 100%; float: left;
    /*background-image: url("../img/detail_img1.jpg"); background-size: cover; background-position: center;*/
}
.detailPage_img img {width: 100%; height: 100%; object-fit: cover;}
.wrap_con {width: 45%; height: fit-content; float:left; padding-left: 30px; box-sizing: border-box;}
.wrap_con p {font-size: 25px; margin-bottom: 10px;}
.wrap_con span {margin-left: 5px;}
.theme_name {border: 1px solid rgb(94, 43, 184); box-sizing: border-box; width: fit-content; height: fit-content; font-size: 11px; display: flex; align-items: center; justify-content: center; color:rgb(94, 43, 184); margin-bottom: 10px; padding: 2px 5px;}
#line {border-top: #ddd solid 1px; border-bottom: #ddd solid 1px; box-sizing: border-box; height: 60px; width: 100%; display: flex; align-items: center; color:#666; margin-top: 20px;}
.detailPage_hashtag {margin-right: 15px;}
#line2 {height: 110px; width: 100%; display: flex; align-items: center; color:#666;}
.icon {width: calc(100%/6); height: 100%; text-align: center;}
.icon i {font-size: 25px; margin: 20px 0 5px;}
.icon p {font-size: 12px; margin: 0;}
#notice_box {width: 100%; height: 35px;}
.notice {width: 18.8%; height: 100%; background-color: #ddd; float: left; margin-right: 1.5%; display: flex; align-items: center; justify-content: center; font-size: 13px; color:#666; border-radius: 5px; font-weight: bold;}
.readyToStart {background-color: rgb(94, 43, 184); color:white;}
.notice:last-child {margin-right: 0;}
#per {font-size: 14px; margin:25px 0 0; text-align: end; color:#666;}
#price {font-size: 23px; font-weight: normal; text-align: end;}
#price span {font-weight: bold; font-size: 30px; margin-right: 5px;}

#main2 {width: 100%; height: 700px; margin-top: 120px;}
#black_line {border-top: 2px solid black; box-sizing: border-box;}
#plan {width: 75%; height: 100%; float: left; padding: 30px 20px 0 0; box-sizing: border-box; }
#plan img {width: 20px;}
#plan p:first-child,#p_num p {font-size: 25px; font-weight: bold; margin-bottom: 20px;}
#p_num {width: 25%; height: 100%; float: left; padding: 30px 0 0 15px; box-sizing: border-box;}

#p_price {width: 100%; height: 400px; margin-top: 20px; border-top: #ddd solid 1px; box-sizing: border-box; padding: 30px 0;}

#p_price table {border-top: 1px solid #aaa; border-bottom: 1px solid #ccc; box-sizing: border-box; width: 100%; border-spacing: 0px;}
#p_price thead td {border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;}
#p_price tbody th {border-right: 1px solid #ccc; box-sizing: border-box;}
#p_price thead tr {background-color: #eee; text-align: center;}
#p_price thead tr th {padding: 15px 0; box-sizing: border-box; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;}
#p_price tbody tr th {font-weight: normal; padding: 15px 0; box-sizing: border-box;}
#p_price thead tr th:last-child {border-right:none;}
#p_price tbody tr th:last-child {border-right:none;}
#p_price thead tr th p:first-child {font-size: 16px; margin-bottom: 0;}
#p_price thead tr th p:last-child {font-size: 13px; color: #666; font-weight: normal;}
#p_price tbody tr th p:last-child {font-size: 13px; color: #666;}
#p_price tbody tr th p:first-child {margin-bottom: 0; font-size: 20px; color: black;}
#p_price tbody th p:first-child {font-weight: normal; font-size: 18px;}
#p_price tbody th p:first-child span {font-size: 23px; font-weight: bold;}
#p_price thead i {color:#999; margin: 0 20px 0 10px; font-weight: normal;}
#p_price tbody tr {background-color: white; text-align: center;}


#plan_detail {background-color: none; border: none;}
#plan_detail thead td {text-align: left; background-color: none; font-weight: bold; padding: 0; display: flex; padding-bottom: 25px; box-sizing: border-box;}
#plan_detail thead tr {background-color: none;}
#plan_detail thead tr th {text-align: left; background-color: none; font-weight: normal; padding: 0 0 25px 20px; box-sizing: border-box;}
#plan_detail thead tr th>span:first-child {margin-right: 20px;}
#plan_detail thead tr th>span:nth-of-type(5) {color: #5e99cb; margin: 0 5px;}
#plan_detail thead tr th span:nth-of-type(9) {color: #5e99cb; margin: 0 5px;}
#plan_detail tbody tr th {text-align: left; background-color: none; font-weight: normal; padding: 0 0 25px 20px; box-sizing: border-box;}
#plan_detail tbody tr th:first-child {padding: 0; padding-bottom: 25px; box-sizing: border-box; font-weight: bold;}

.gray {color: #666; font-size: 13px; line-height: 20px;}
#indent {margin-left: 8px;}
#table {margin-bottom: 20px;}

#count {width: 100%; height: 200px; border-bottom: 1px solid #ddd; box-sizing: border-box; margin-bottom: 25px;}
#count li {width: 100%; height: calc(100%/3);}
#count span {width: 40%; height: 100%; float:left; display: flex; flex-direction: column; justify-content: space-evenly;}
#count span p:first-child {color:#666; font-size: 14px; font-weight: normal; margin: 0;}
#count span p:last-child {font-size: 18px; font-weight: normal; margin: 0;}
#count span span {display: block; width: fit-content;}
.count_box {width: 60%; height: 100%; float:left; display: flex; align-items: center; justify-content: flex-end;}

.count-wrap {position: relative;padding: 0 38px;border: 1px solid #ddd;overflow: hidden;width: 60px; border-radius: 5px;}
.count-wrap > button {border: 0;background: white; color: #999; width: 38px;height: 38px;position: absolute;top: 0;font-size: 20px; font-weight: normal;}
.count-wrap > button.minus {left: 0; border-right: 1px solid #ddd;}
.count-wrap > button.plus {right: 0; border-left: 1px solid #ddd;}
.count-wrap .inp {border: 0;height: 38px;text-align: center;display: block;width: 100%;}

#p_num>span:first-of-type {float:left; font-weight: bold;}
#p_num>span:last-of-type {font-size: 22px; float:right; font-weight: bold; color:rgb(94, 43, 184); line-height: 25px;}
#p_num>span:last-of-type span {font-size: 30px;}
#pay_button {width: 100%; height: 60px; float:left; display: flex; margin-top: 30px; display: flex; justify-content: space-between;}
#pay_button li:first-of-type {width: 76%;}
#pay_button li:last-of-type {width: 20%;}
#pay_button li:first-of-type button {width: 100%; height: 100%; background-color: #5e99cb; color:white; border-radius: 7px; font-size: 20px; cursor:pointer;}
.like {width: 100%; height: 100%; background-color: white; color: #666; border-radius: 7px; font-size: 20px; border: #ddd 1px solid; box-sizing: border-box; cursor:pointer;}
.like:hover {border: #666 1px solid; box-sizing: border-box;}
.like i:last-child {color:rgb(94, 43, 184); display: none;}

.nothing {display: none;}
.readyToStart {}


/* .selected {display: none;} */


/* 푸터 */
#footer {width: 100%; height: 57px; border-top: #ddd solid 1px; box-sizing: border-box; margin-top: 250px;}
#sns {width: 270px; height: 100%; float:right; display: flex; align-items: center; justify-content: space-between;}
#footer a {width: 30px; height: 30px; color:white; border-radius: 50%; background-size: cover; background-position: center; cursor: pointer;}
#footer a:first-child {background-image: url("../img/facebook.png");}
#footer a:nth-child(2) {background-image: url("../img/instagram.png");}
#footer a:nth-child(3) {background-image: url("../img/naverblog.png");}
#footer a:nth-child(4) {background-image: url("../img/kakaoplus.png");}
#footer a:nth-child(5) {background-image: url("../img/youtube.png");}
#footer a:last-child {background-image: url("../img/kakaostory.png");}
.wrap {width: 65%; height: 100%; margin: auto; min-width: 1200px;}
#footer_wrap {padding-left: 20px; box-sizing: border-box; display: flex; justify-content: space-between; align-items: center; color:#666; font-weight: normal;}

/* 위로 */
aside {width: 80px; height: 90px; border: 1px solid black; box-sizing: border-box; cursor: pointer; text-align: center; padding-top: 15px; box-sizing: border-box; position:fixed; right: 20px; bottom:10%; background-color: white;}
aside span {margin-left: 10px;}
aside a {font-size: 18px; color:black;}
aside a i {font-size: 25px;}