@charset "utf-8";
* {margin: 0; padding: 0; border: 0;}
ul {list-style: none;}
a {text-decoration: none;}
body {font-family: 'Noto Sans KR', sans-serif; width: 100%; height: 100vh; background-color:#f4f5f9;}

section {width: 768px; height: 100%; background-color: white; margin: auto; padding: 25px; box-sizing: border-box;}
h3 i {margin-right: 10px; cursor: pointer;}
section p:first-of-type {margin-top: 50px; font-size: 25px; margin-bottom: 15px;}
section ul {width: 100%; height: 70px;margin-top: 50px; display: flex; justify-content: space-between;}
section li {width: 70px; height: 100%; background-color: #eee; border-radius: 50%; display: flex; justify-content: center; align-items: center;}
section li img {width: 50%;}
section button {width: 100%; height: 50px; border-radius: 25px; border: #ddd solid 1px; box-sizing: border-box; background-color: white; font-weight: bold; font-size: 16px; margin-top: 50px; cursor: pointer;}